.counter-container {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.counter {
    font-size: 50px;
}

.disabled {
    opacity: 0.3;
}

.max-value {
    color: red;
}

